.cars_list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
}

.car_list_item {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  border-radius: 16px;
  padding: 16px;
  min-height: 464px;
  width: calc((100% - 96px) / 4);
  background-color: #fff;
}

.car_card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  min-height: 364px;
}

.card_img {
  border-radius: 14px;
  height: 268px;
  object-fit: cover;
}

.car_info_container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  min-height: 80px;
}

.car_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.car_info_name,
.car_info_price {
  font-size: 16px;
  font-weight: 500;
}

.car_info_model {
  color: #00aad4;
}

.car_meta {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  background-color: #f5f5f5;
  min-height: 52px;
  align-self: flex-end;
}

.car_meta span {
  font-size: 12px;
  line-height: 1.33;
  border-right: 1px solid #dadde1;
  padding-right: 6px;
  margin-right: 6px;
}

.car_meta span:last-child {
  border: none;
}

.car_list_btn {
  border-radius: 12px;
  padding: 12px 81px;
  width: 244px;
  height: 44px;
  color: #fff;
  font-weight: 600;
  background-color: #00aad4;
  margin-top: auto;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.car_list_btn:hover,
.car_list_btn:focus {
  background-color: #0095ba;
}
