.main {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.container {
  padding: 84px 120px 0;
  margin: 0 auto;
}

.sections_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 104px;
}

.searchbox_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 60px;
}

.cars_list_container {
  width: 1200px;
  margin-bottom: 48px;
}

.load_more_btn {
  border: 1px solid #00aad4;
  border-radius: 12px;
  width: 156px;
  height: 44px;
  font-weight: 600;
  transition: border 0.3s ease-in-out;
}

.load_more_btn:hover {
  border-color: #0095ba;
}

.loader_wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
